{{- range $index, $machineClass := .Values.machineClasses }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $machineClass.name }}
  namespace: {{ $.Release.Namespace }}
  labels:
    garden.sapcloud.io/purpose: machineclass
type: Opaque
data:
  userData: {{ $machineClass.secret.cloudConfig | b64enc }}
  metalAPIKey: {{ $machineClass.secret.metalAPIKey | b64enc }}
  metalAPIHMac: {{ $machineClass.secret.metalAPIHMac | b64enc }}
  metalAPIURL: {{ $machineClass.secret.metalAPIURL | b64enc }}
---
apiVersion: machine.sapcloud.io/v1alpha1
kind: MachineClass
metadata:
  name: {{ $machineClass.name }}
  namespace: {{ $.Release.Namespace }}
providerSpec:
  partition: {{ $machineClass.partition }}
  size: {{ $machineClass.size }}
  image: {{ $machineClass.image }}
  project: {{ $machineClass.project }}
  network: {{ $machineClass.network }}
  sshKeys:
{{ toYaml $machineClass.sshkeys | indent 4 }}
{{- if $machineClass.tags }}
  tags:
{{ toYaml $machineClass.tags | indent 4 }}
{{- end }}
secretRef:
  name: {{ $machineClass.name }}
  namespace: {{ $.Release.Namespace }}
provider: metal
{{- end }}
