{{- if .Values.groupRolebindingController.enabled }}
{{- if .Values.imagePullSecret }}
---
apiVersion: v1
kind: Secret
metadata:
  labels:
    app: group-rolebinding-controller-registry-credentials
  name: group-rolebinding-controller-registry-credentials
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ .Values.imagePullSecret }}
{{- end }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: group-rolebinding-controller
  name: group-rolebinding-controller
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: group-rolebinding-controller
  template:
    metadata:
      labels:
        app: group-rolebinding-controller
        networking.gardener.cloud/from-prometheus: allowed
        networking.gardener.cloud/to-dns: allowed
        networking.gardener.cloud/to-shoot-apiserver: allowed
        networking.gardener.cloud/to-public-networks: allowed
    spec:
{{- if .Values.imagePullSecret }}
      imagePullSecrets:
      - name: group-rolebinding-controller-registry-credentials
{{- end }}
      containers:
      - name: group-rolebinding-controller
        image: {{ index .Values.images "group-rolebinding-controller" }}
        imagePullPolicy: Always
        command: ["/group-rolebinding-controller"]
        args:
        - --excludeNamespaces=kube-system,kube-public,kube-node-lease,default
        - --expectedGroupsList=admin,edit,view
        - --clustername={{ .Values.groupRolebindingController.clusterName }}
        - --kubeconfig=/var/lib/group-rolebinding-controller/kubeconfig
        volumeMounts:
        - name: group-rolebinding-controller
          mountPath: /var/lib/group-rolebinding-controller
      volumes:
      - name: group-rolebinding-controller
        secret:
          secretName: group-rolebinding-controller
{{- end }}
