---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: droptailer
  namespace: firewall
spec:
  podSelector:
    matchLabels:
      k8s-app: droptailer
  policyTypes:
  - Egress
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: droptailer
  namespace: firewall
  labels:
    k8s-app: droptailer
spec:
  selector:
    matchLabels:
      k8s-app: droptailer
  template:
    metadata:
      labels:
        k8s-app: droptailer
        app: droptailer
        networking.gardener.cloud/from-prometheus: allowed
    spec:
      containers:
      - image: {{ index .Values.images "droptailer" }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        name: droptailer
        ports:
        - protocol: TCP
          containerPort: 50051
        securityContext:
          runAsUser: 65534
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
        env:
        - name: SERVER_CERTIFICATE
          value: /certificates/tls.crt
        - name: SERVER_KEY
          value: /certificates/tls.key
        - name: SERVER_CA_CERTIFICATE
          value: /certificates/ca.crt
        volumeMounts:
        - name: droptailer-server
          mountPath: /certificates/
          readOnly: true
        resources:
          limits:
            cpu: 50m
            memory: 200Mi
      restartPolicy: Always
      automountServiceAccountToken: false
      volumes:
      - name: droptailer-server
        secret:
          secretName: {{ .Values.droptailer.secretName }}
