---
kubernetesVersion: "1.16.0"
apiserverIPs: []
nodeCIDR:

images:
    audittailer: image-repository:image-tag
    droptailer: image-repository:image-tag
    metallb-speaker: image-repository:image-tag
    metallb-controller: image-repository:image-tag
    fluentd-splunk-audit: image-repository:image-tag
    node-init: image-repository:image-tag
    kubectl: image-repository:image-tag

firewallSpec:
    interval: 10s
    dryrun: false
    logAcceptedConnections: false
    rateLimits: []
    internalprefixes: []
    egressRules: []
    firewallNetworks: []

accountingExporter:
    enabled: false

groupRolebindingController:
    enabled: false

limitValidatingWebhook:
    enabled: false
    ca: ABCDEF
    url: https://replace-this-webhook/validate

duros:
  enabled: false
  endpoints: []

clusterAudit:
  enabled: false

cwnps:
  onlyApiserverHttps: false
