---
kubernetesVersion: 1.7.5
featureGates: {}
podAnnotations: {}

images:
  metalccm: image-repository:image-tag
  duros-controller: image-repository:image-tag
  firewall-controller-manager: image-repository:image-tag

imagePullSecret:
imagePullPolicy: IfNotPresent

firewallControllerManager:
  replicas: 1
  clusterID: cluster-id
  seedApiURL: address-to-the-seed-apiserver
  shootApiURL: address-to-the-shoot-apiserver
  sshKeySecretName: ssh-keypair
  firewallHealthTimeout: 0s
  createTimeout: 10m
  metalapi:
    url: https://metal-api
  caBundle: |
    -----BEGIN CERTIFICATE-----
    ...
    -----END CERTIFICATE-----
  secrets:
    server: firewall-controller-manager

cloudControllerManager:
  additionalParameters: []
  podAnnotations: {}
  replicas: 1
  podNetwork: 192.168.0.0/16
  projectID: project-id
  partitionID: partition-id
  networkID: network-id
  clusterID: cluster-id
  defaultExternalNetwork: external-network-id
  additionalNetworks: internet,mpls
  loadBalancer: metallb
  sshPublicKey: publickey
  metal:
    endpoint: api-url
  resources:
    requests:
      cpu: 100m
      memory: 64Mi
    limits:
      cpu: 250m
      memory: 300Mi
  secrets:
    server: cloud-controller-manager-server

duros:
  enabled: false
  replicas: 1
  storageClasses: []
  projectID: project-id
  controller:
    endpoints:
    - ip:port
    - ip:port
    - ip:port
    adminKey: KEY
    adminToken: tok
    apiEndpoint:
    apiCA:
    apiKey:
    apiCert:

genericTokenKubeconfigSecretName: generic-token-kubeconfig
