
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: duros.storage.metal-stack.io
spec:
  group: storage.metal-stack.io
  names:
    kind: Duros
    listKind: DurosList
    plural: duros
    singular: duros
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.metalProjectID
      name: ProjectID
      type: string
    - jsonPath: .spec.storageClasses
      name: StorageClasses
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        description: Duros is the Schema for the Duros API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: DurosSpec defines the desired state of Duros
            properties:
              metalProjectID:
                description: MetalProjectID is the projectID of this deployment
                type: string
              storageClasses:
                description: StorageClasses defines what storageclasses should be
                  deployed
                items:
                  description: StorageClass defines the storageClass parameters
                  properties:
                    compression:
                      type: boolean
                    default:
                      type: boolean
                    encryption:
                      type: boolean
                    name:
                      type: string
                    replicas:
                      type: integer
                  required:
                  - compression
                  - default
                  - encryption
                  - name
                  - replicas
                  type: object
                type: array
            type: object
          status:
            description: DurosStatus defines the observed state of Duros
            properties:
              managedResourceStatuses:
                description: ManagedResourceStatuses contains a list of statuses of
                  resources managed by this controller
                items:
                  properties:
                    description:
                      description: Description further describes the state of the
                        managed resource
                      type: string
                    group:
                      description: Group is the api group kind of the resource described
                        by this status
                      type: string
                    lastUpdateTime:
                      description: LastUpdateTime is the last time the status was
                        updated
                      format: date-time
                      type: string
                    name:
                      description: Name is the name of the resource described by this
                        status
                      type: string
                    state:
                      description: State is the actual state of the managed resource
                      type: string
                  required:
                  - description
                  - group
                  - lastUpdateTime
                  - name
                  - state
                  type: object
                type: array
            required:
            - managedResourceStatuses
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
