apiVersion: v1
kind: ServiceAccount
metadata:
  name: node-init
  namespace: kube-system

{{- if semverCompare "< 1.25" .Capabilities.KubeVersion.Version }}
---
apiVersion: policy/v1beta1
kind: PodSecurityPolicy
metadata:
  name: node-init
spec:
  allowedCapabilities:
  - NET_ADMIN
  fsGroup:
    rule: RunAsAny
  runAsUser:
    rule: RunAsAny
  seLinux:
    rule: RunAsAny
  supplementalGroups:
    rule: RunAsAny
  volumes:
  - secret
  hostNetwork: true
{{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kube-system:node-init
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - watch
  - list
  - get
{{- if semverCompare "< 1.25" .Capabilities.KubeVersion.Version }}
- apiGroups:
  - extensions
  resources:
  - podsecuritypolicies
  resourceNames:
  - node-init
  verbs:
  - use
{{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kube-system:node-init
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kube-system:node-init
subjects:
- apiGroup: ""
  kind: ServiceAccount
  name: node-init
  namespace: kube-system
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: node-init
  namespace: kube-system
  labels:
    node.gardener.cloud/critical-component: "true"
    app: node-init
spec:
  selector:
    matchLabels:
      app: node-init
  template:
    metadata:
      labels:
        node.gardener.cloud/critical-component: "true"
        app: node-init
    spec:
      serviceAccount: node-init
      serviceAccountName: node-init
      containers:
      - name: node-init
        image: {{ index .Values.images "node-init" }}
        env:
        - name: KUBE_NODE_NAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: spec.nodeName
        securityContext:
          capabilities:
            add:
              - NET_ADMIN
      hostNetwork: true
      tolerations:
      - effect: NoSchedule
        operator: Exists
      - key: CriticalAddonsOnly
        operator: Exists
      - effect: NoExecute
        operator: Exists
