{{- if .Values.accountingExporter.enabled }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: system:accounting-exporter
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  - pods
  - persistentvolumes
  - persistentvolumeclaims
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  verbs:
  - get
- apiGroups:
  - metal-stack.io
  resources:
  - firewalls
  verbs:
  - get
- apiGroups:
  - firewall.metal-stack.io
  resources:
  - firewallmonitors
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: system:accounting-exporter
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:accounting-exporter
subjects:
- kind: User
  name: system:accounting-exporter
  apiGroup: ""
{{- end }}
